###################################
# Generic files to ignore

*~
*.lock
*.DS_Store
*.swp
*.out
~$*
[Tt]humbs.db
/.svn/*
*/.svn/*
/CVS/*
*/CVS/*
.cvsignore
*/.cvsignore
.DS_Store
Icon?
._*
.Spotlight-V100
.Trashes
Desktop.ini
*.hg
*.project

###################################
# IDE specific files
.idea
atlassian-ide-plugin.xml
.buildpath
.settings
nbproject

